{% extends 'base.twig' %}

{% block content %}
<div class="m-auto max-w-6xl">
    <div class="w-10/12 md:w-4/12">

        <span class="text-green-500">
            {{ getSessionMessage() }}
        </span>


        <form method="POST" action="/customers/edit/{{ customer.getID }}">
            <div class="mb-3">
                <label class="block text-gray-700 font-bold mb-2" for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" value="{{ customer.getLastName }}"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                <span class="text-red-500">
                    {{ getErrorMessage('lastName') }}
                </span>
            </div>

            <div class="mb-3">
                <label class="block text-gray-700 font-bold mb-2" for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" value="{{ customer.getfirstName }}"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                <span class="text-red-500">
                    {{ getErrorMessage('firstName') }}
                </span>
            </div>

            <div class="mb-3">
                <label class="block text-gray-700 font-bold mb-2" for="address">Address</label>
                <input type="text" id="address" name="address" value="{{ customer.getAddress }}"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                <span class="text-red-500">
                    {{ getErrorMessage('address') }}
                </span>
            </div>

            <div class="mt-5">
                <input
                    class="inline-block border border-slate-800 bg-slate-500 hover:bg-slate-700 transition-colors ease-linear delay-100 text-slate-50 p-2"
                    type="submit" name="submit" value="Update" />
                <a href="/"
                    class="inline-block border border-slate-800 bg-slate-500 hover:bg-slate-700 transition-colors ease-linear delay-100 text-slate-50 p-2">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
